# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

#Binaries and Builds
.vs/
x86/
*/x64/
!x64/Debug/openal32.dll
!x64/Debug/sfml-audio-d-2.dll
!x64/Debug/sfml-graphics-d-2.dll
!x64/Debug/sfml-network-d-2.dll
!x64/Debug/sfml-system-d-2.dll
!x64/Debug/sfml-window-d-2.dll
*.user

#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps